*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}

.aboutletf-wrap{
 padding-top: 50px;
	
}
.aboutletf-wrap1{
	font-weight: bold;
	padding-bottom: 10px;
}
.aboutletf-wrap2{
	padding-bottom: 10px;
}
.aboutletf-wrap3{
	padding-bottom: 10px;
	text-transform: capitalize;
	line-height: 1.8rem;
}
.aboutright-wrap{
	padding-top: 20px;
	width: 100%;
}

.aboutright-wrap img{
  width: 200px;
	
}
.sacand-gap{
	width: 100%;
	background-color:#139aeb;
}
.about-secandleft-wrap img{
    width: 100%;
    height: 350px;
}
.about-secndright-wrap{	
	width: 100%;
	padding-top: 20px;
	padding-left: 20px;
}
.about-sccandright-head{
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	color: white;
	padding-left: 20px;
	padding-bottom: 20px;
}
.about-sccandright-titile{
	font-size: 14px;
	color: white;
	padding: 20px;

}
.about-sccandright-paragraph{
	line-height: 2.0rem;
	color: white;
	padding-left:20px;
	font-size: 15px;
	padding-bottom: 20px;
	text-transform: capitalize;
}
.last-button{
	padding-left: 20px;
}
.last-button button{
	border-radius: 20px;
}