*{
	margin: 0px;
	padding:0px;
	box-sizing:border-box;
	scroll-behavior: smooth;
}
.mainnn{
	width: 100vw;
	height: 100vh;
	 background: url("img1.jpg"),linear-gradient(to left, #000,#059544, #00d4ff);
    background-size: cover;
    opacity: 10;
    background-repeat: no-repeat;
 

}
.center{
	padding-top: 150px;
	font-size: 60px;
	color: white;
	text-transform: capitalize;
}
.center button{
	padding: 9px 45px;
	border:1px solid white;
}
.our{
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
}
#our-service{
	align-items: center;
	text-align: center;
	padding: 50px;
}
#our-service i{
	font-size: 50px;
	color:#2d97e3;
	padding-bottom: 10px;
}
#our-service p{
	font-size: 15px;
	font-family: initial;
	font-weight: normal;
	line-height: 2em
	color:gray;
}
.paot{
	background-color: #f5f5e9;
	padding: 20px;
}
.one:hover{
   opacity: 0.8;
   padding: 10px;
}
.us img{
	width: 100%;
}
.Abouttt{
	padding: 50px;
}
.us h3{
	font-size: 20px;
	text-transform: capitalize;
	font-weight: bold;
}
.us p{
	color: gray;
	line-height: 1em
}